@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root {
    --redKasa: #FF6060;
    --greyBG: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

ul {
    list-style: none;
}