.Logement {
    color: var(--redKasa);
    margin-top: 1rem;
    display: flex;
    font-weight: 500;
}

.Logement__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
}
.Logement__title {
    display: flex;   
    flex-direction: column;
    gap: 2px;
}
.Logement__title h1 {
    font-size: 36px;
    font-weight: 500;
}
.Logement__title p {
    font-size: 18px;
}
.Logement__tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.Logement__user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Logement__description {
    display: flex;
    gap: 4.5rem;
    margin-top: 1rem;
}
@media screen and (max-width: 768px) {
    .Logement {
        flex-direction: column;
        gap: 1rem;
        
    }
    .Logement__user {
        flex-direction: row-reverse;
        align-items: center;
    }

    .Logement__title {
        gap: 5px;
    }
    
    .Logement__title h1 {
        font-size: 18px;
    }
    .Logement__title p {
        font-size: 14px;
    }
    .Logement__description {
        gap: 1rem;
        flex-direction: column;
    }
}
