
 .Rating {
    color: #E3E3E3;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    font-size: 24px;
 }

 .Rating__star {
    color: var(--redKasa);
 }

@media screen and (max-width: 519px) {
     .Rating {
        font-size: 13px;
     }
 }
